global
    log /dev/log local0

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend fe_all_ports
    bind *:443
    bind *:80
    mode tcp
    
    # Inspeksi paket awal untuk membedakan SSL/TLS atau Plain HTTP/WS
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    tcp-request content accept if !{ req_ssl_hello_type 1 }

    # Jika menggunakan TLS / HTTPS / Stunnel
    use_backend be_ssh_tls if { req_ssl_hello_type 1 }
    
    # Jika menggunakan WebSocket / HTTP / Plain text
    default_backend be_ssh_ws

backend be_ssh_tls
    mode tcp
    server local_ssh 127.0.0.1:2222

backend be_ssh_ws
    mode tcp
    server local_ssh 127.0.0.1:2222
