global
    log /dev/null local0

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend fe_ssh
    bind *:443
    bind *:80
    mode tcp
    default_backend be_ssh

backend be_ssh
    mode tcp
    server local_ssh 127.0.0.1:2222
