global
    log /dev/log local0

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend fe_ws
    bind *:443
    bind *:80
    mode http
    default_backend be_ssh

backend be_ssh
    mode http
    server local_ssh 127.0.0.1:2222
